
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.main{
	height:auto;
	width: 100%;
	border: 1px solid black;
	/*Flex*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	font-family: 'Ubuntu', sans-serif;
}
h2{ text-align: center; font-family: 'Ubuntu', sans-serif;}

.promo1{ width: 100%; }

.promo2{ width: 100%; height: auto; 
		padding-top: 50px; background-color: #e0381e;
		display: flex; align-items: center;
		flex-direction: column;}

.promo2 h1 { color: black; padding-top: 10px; font-family: 'Ubuntu', sans-serif; font-size: 25px; color: black; }

.promo2 p { text-align: center; color: white; font-family: 'Ubuntu', sans-serif; font-size: 14px; margin:10px;}

.item {display: flex; border-radius: 50%;
		background-color: #c9b38a;
		width: 250px; height: 250px;
		justify-content: center; padding-top: 30px;
		opacity: 0.6; background-image: url(https://i.pinimg.com/736x/c2/25/13/c225131e705bcb6ca961cac0773e4384--wine-bottle-design-wine-label-design.jpg); background-size: cover;}

.item p {color: white; text-align: center; opacity: 1; font-family: 'Ubuntu', sans-serif;}

.item h2{ opacity: 1; color: white; font-size: 12px; font-family: 'Ubuntu', sans-serif; font-size: 20px; color: #949f36;}



.logo{ width: 300px;}

	.vino{
		height: 400px;
		width: 30%;
		border: 1px solid black;
		margin: 5px;
		/*Flex*/
		display: flex;
		flex-direction: row;
	}

		.vino .izq{
		
		}
		.vino .der{

		}

		.vino:nth-last-child(1) {

	   		/*Flex*/ 
	    	align-items: flex-start;
		} 
		
		.img{
			height: 390px;
			width: 45%;
			border: 1px solid black;
			text-align: center;
		}

		.info{
			width: 50%;
			border: 1px solid black;
			/*Flex*/
			display: flex;
			flex-direction: column;
		}

			.info .nombre{

			}





